

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  .body{
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: #1F2937;
}
.header{ 
    display: flex;
   /* border: 10px solid green;*/
    justify-content: space-around;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    background-color: #1F2937;
    height: 5vh;
    padding-left: 2em;
    padding-right: 2em;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    text-align: center;
}



.temp-img{
    display: flex;
    width: 50vh;
}
.header-links{
    display: flex;
    gap:16px;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    align-items: center;
    
}

a{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:#E5E7EB;
}

.main1{
    font-size: 48px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    width:350px;
    
    display: inline;
}

.sub1{
    display: inline-block;
    text-align: left;
    color:#E5E7EB;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin: 1em 0em 1em 0em;
    
}




.container1{
    display: block;
    flex-direction: column;
   /* border: 10px dotted yellow;*/
    width: 50vh;
}

.button-text{
    color: #e5e7eb;
    font-weight:900;
}

.sign-up{
    background: #3882f6;
    padding: 6px 25px;
    border-radius: 8px;
    border: none;   
}
.sign-up.two{
    border: #e5e7eb solid 2px;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 10px solid salmon;*/
    flex: 1;
    margin: 2em;
    gap: 2em;
    background-color:#1F2937;
    padding:2em;
    }
    
.section-2{
    display: flex;
    flex: 1;
    background-color: white;
    color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em 5em 4em;
}

.rand-info{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin:1em;
}

.illustrations-container{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
    align-items:flex-start;
}

.illustration-box{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin:1em;
}

.textandbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.subtext{
    display: block;
    width: 150px;
    height: 100px;
    text-align: left;
}

.section-3{
    display:flex;
    flex:1;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10em 4em;
}

.quote{
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    width:800px;
}

.thor{
    display: block;
    width: 100vh;
    text-align: right;
    font-weight: 900;
    padding-right: 6em;
}

.section-4{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4em 4em;
}

.bluecontainer{
    display: flex;
    background-color: #3882f6;
    flex-direction: column;
    border-radius: 4px;
    padding:1em 4em;
}

.footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color:#E5E7EB;
    font-weight: 900;
    height: 5vh;
    padding: 1em;
}