

    body{
        display: flex;
        flex-direction: column;
        border: 8px solid green;
        min-height: 100vh;
    }
  .body{
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.header{ 
    display: flex;
   /* border: 10px solid green;*/
    justify-content: space-around;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    background-color: #1F2937;
    height: 5vh;
    
}

.temp-img{
    display: flex;
    width: 50vh;
    height:22.5vh;
}
.header-links{
    display: flex;
    gap:16px;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    align-items: center;
    
}

a{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:#E5E7EB;
}

.main1{
    font-size: 48px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    width:350px;
    
    display: inline;
}

.sub1{
    display: inline-block;
    text-align: left;
    color:#E5E7EB;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin: 1em 0em 1em 0em;
    
}




.container1{
    display: block;
    flex-direction: column;
   /* border: 10px dotted yellow;*/
    width: 50vh;
    height:22.5vh;

}
.test2{
    color: #e5e7eb;
    font-weight:900;
}

button.sign-up{
    background: #3882f6;
    padding: 6px 25px;
    border-radius: 8px;
    border: none;
    
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 10px solid salmon;*/
    flex: 1;
    margin: 2em;
    gap: 2em;
    background-color:#1F2937;
    }
    
.section-2{
    display: flex;
    flex: 1;
    background-color: white;
    color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    
}


.rand-info{
    margin-top: 1em;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
.illustration-box{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin:1em;
    
}
.illustrations-container{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
   
    align-items:flex-start;
    
}
.textandbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.subtext{
    display: block;
    width: 150px;
    height: 100px;
}
.footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color:#E5E7EB;
    font-weight: 900;
    height: 5vh;
}