


html, body {
    height: 100%;
  }
  .body{
    display: flex;
    border: 12px solid orange;
    flex-direction: column;
    background-color: #1F2937;
    
    align-items: center;
    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.header{ 
    display: flex;
   /* border: 10px solid green;*/
    justify-content: space-around;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    background-color: #1F2937;
    
}

.header-links{
    display: flex;
    gap:16px;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    align-items: center;
    
}

a{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:#E5E7EB;
}

.main1{
    font-size: 48px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    width:350px;
    
    display: inline;
}

.sub1{
    display: inline-block;
    text-align: left;
    color:#E5E7EB;
    font-size: 18px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin: 1em 0em 1em 0em;
    
}




img{
    display: flex;
    
    max-height: 200px;
}
.container1{
    display: block;
    flex-direction: column;
   /* border: 10px dotted yellow;*/
    width: 400px;

}
.test2{
    color: #e5e7eb;
    font-weight:900;
}

button.sign-up{
    background: #3882f6;
    padding: 6px 25px;
    border-radius: 8px;
    border: none;
    
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 10px solid salmon;*/
    flex: 1;
    margin: 2em;
    gap: 2em;
    }
    
.section-2{
    display: flex;
    flex: 1;
    background-color: white;
    width: 300px;
    color:black;
    justify-content: center;
    
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color:#E5E7EB;
    font-weight: 900;
}